.QuestionComponent {
    width: 90vw;
    height: 60vh;
    min-height: 600px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    color: white;
}

.Background0 {
    background: linear-gradient(180deg, #F1B496 0%, #EA806A 100%);
}

.Background1 {
    background: linear-gradient(180deg, #F6B868 0%, #EE6B2D 100%);
}

.Background2 {
    background: linear-gradient(180deg, #76E0C2 0%, #59CADA 100%);
}

.QuestionText {
    font-size: 40px;
    padding-top: 30px;
}

.AnswerText {
    font-size: 32px;
    padding-bottom: 30px;
}

@media only screen and (max-width: 640px) {
    .QuestionText, .AnswerText {
        font-size: 6vw;
    }
}